@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <a asp-controller="Account" asp-action="EnableQRCodeAuthenticator" class="text-center">Enable QRCode Authentication</a>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

